<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-base-08">

</body>

{% include sidebar.html %}

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h3 class="masthead-title">
        <span class="title-container">
          <img src="{{ site.baseurl }}/profile.png" class="logo">
          <div class="text-container">
            <a href="{{ site.baseurl }}/" title="Home" class="site-title">{{ site.title }}</a> &nbsp;
            <small class="tagline">{{ site.tagline }}</small>
          </div>
        </span>
      </h3>
    </div>
  </div>
</div>

<div class="container content">
  {{ content }}
</div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script src='{{ site.baseurl }}/public/js/script.js'></script>

<div class="wrap">
  <div class="masthead">
  </div>
  <div class="container">
    <div class="social-icons">
      {% if site.social.bluesky %}<a href="https://bsky.app/profile/franzilesi.bsky.social" target="_blank"><i
          class="fa-brands fa-bluesky"></i></a> {% endif %}
      {% if site.social.github %}<a href="https://github.com/FranziLesi" target="_blank"><i
          class="fa-brands fa-github"></i></a> {% endif %}
      {% if site.social.linkedin %}<a href="https://www.linkedin.com/in/franziska-lesigang-28a057323/"
        target="_blank"><i class="fa-brands fa-linkedin"></i></a>{% endif %}
        {% if site.social.google_scholar %}<a href="{{ site.social.google_scholar }}" target="_blank"><i class="fa-solid fa-graduation-cap"></i>
  </a>
{% endif %}
    </div>
  </div>
</div>

</body>

</html>